.footer {
    padding: 3rem;
    background-color: $raising-black;
    color: $white;
    font-family: $raleway;
    font-weight: $regular;
    .container {
        display: flex;
        justify-content: space-around;
    }
    li {
        display: inline-block;
        margin-left: 1rem;
        font-family: $raleway;
        font-weight: $regular;
        font-size: $small;
    }
    a {
        text-decoration: none;
        font-family: $raleway;
        font-weight: $regular;
        font-size: $small;
        color: $white;
    }
    p {
        color: $white;
    }
}

@media (max-width: 768px) {
    .footer {
        padding: 2rem;
        text-align: center;
        background-color: $raising-black;
        color: $white;
        font-family: $raleway;
        font-weight: $regular;
        .container {
            display: block;
            justify-content: space-around;
        }
        li {
            display: inline-block;
            margin-left: 1rem;
        }
        a {
            text-decoration: none;
            color: $white;
        }
        p {
            color: $white;
        }
        ul {
            text-align: center;
            padding: 0em;
        }
    }
}
